@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom variables for light and dark mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-image: url('/bg.svg'); /* Default for larger screens */
  --bg-image-mobile: url('/bg1.svg'); /* For mobile screens */
}


@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-fade-out {
  animation: fade-out 1s ease-out forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply custom styles globally */
body {
  @apply antialiased;
  color: var(--foreground);
  background: var(--background) var(--bg-image) no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media query for mobile screens */
@media (max-width: 640px) { /* Tailwind's sm breakpoint */
  body {
    background: var(--background) var(--bg-image-mobile) no-repeat center center fixed;
    background-size: cover;
  }
}
